h1 {
    font-size: 30px;
    }
    .seccion-1 {
    display: flex;
    justify-content: center;
    }
    .imagen1 {
    margin-top: 10px;
    width: 80px;
    height: 50px;
    }
    .seccion-2 {
    display: flex;
    justify-content: center;
    }

    .imagen2 {
    width: 550px;
    height: 60px;
    }

    .seccion-1 {
    display: flex;
    }

    .Login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    }

    .texto-1 {
    height: 150px;
    width: 250px;
    font-family: sans-serif;
    font-size: 20px;
    color: #030303;
    background: #dadde6;
    margin: 0 0 25px;
    overflow: visible;
    padding: 2px;
    }

    .texto-1 {
    border-style:solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
    }

    .seccion-3 {
    display: flex;
    justify-content: center;
    }


    .seccion-4{
    display: flex;
    justify-content: center;
    }

    .cuadritos {
    border-style:solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
    }